<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOTTO</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<p>Your loto numbers are:</p>
<p>{{ loto }}</p>
<p>Thanx for playing!</p>
</body>
</html>